
:root {
    --main-color: #d3d2d2;
    --main-color-sub:#dcdcdc;
    --high-color:rgb(253, 207, 170);
  }



p,a,h1,h2,h3,h4,h5,form,input,section,label,div{
    padding:2px;
    font-family: monospace;
}

#container> section:nth-child(3){
    height:600px;
}


#container > nav:nth-child(1) > ul:nth-child(1){
    padding-right: 20px;
}

#container > nav:nth-child(1) > ul:nth-child(1) li{
    display:inline;
   
}

#container > div.i_form{
    margin-right:10%;  
    background-color:var(--main-color-sub);
    text-align: center;
    width: 18%;
    position: relative;
    border: solid var(--high-color) 1px;
    border-radius: 3%;
    float:right;

}

#container > nav > ul li>a{
    text-decoration: none;

   
}
#container > nav > ul li>a:hover{
    color:rgb(189, 9, 9);

   
}



#container > nav > ul>li:not(.nofloat){
    float: right;
    top: 4px;
    position: relative;
  
}
#container > nav > ul>li.nofloat{
    font-size:23px;
    bottom: 4px;
    position: relative;
  
}


#container > nav > ul>li.float{
    margin-right: 12px;
    font-size:14px
}



#container nav > div > form > div.f_inp.f_logedin{
    padding: 10px;
    margin-top: 10px;
}

#container nav{
    height: 50px;
    background:var(--main-color);
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#the_head{
    margin-left:10%;
}

#container>  section:nth-child(3){
    margin-left:10%;
}

#container>  footer{
   
    width: 80%;
    margin: auto;
}

#container>footer > p{
    width: 20%;
    text-align: center;
    margin: auto;
}